.App {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #000;
}

.App footer {
  font-size: 12px;
  }